[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"
mypy = "*"

[packages]
"discord.py" = {extras = ["voice"], version = "*"}
discord-py = "*"
sqlalchemy = "*"
alembic = "*"
aiomysql = {git = "https://github.com/aio-libs/aiomysql", ref = "d842ec3f95614a2042a9107d7b65edfcf661d614"}
colorama = "*"
tabulate = "*"
pybooru = "*"
psutil = "*"
pytz = "*"
fastapi = {extras = ["all"], version = "*"}
pynacl = "*"
youtube-dl = "*"
pydub = "*"
matplotlib = "*"
opencv-python = "*"
pyjwt = "*"
cryptography = "*"
mecab-python3 = "*"
jaconv = "*"
emoji = "*"
wavelink = "*"
84caae8 = {git = "https://github.com/Rapptz/discord-ext-menus"}

[requires]
python_version = "3.8"
