[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
"discord.py" = "*"
discord-py = "*"
sqlalchemy = "*"
alembic = "*"
aiomysql = "*"
colorama = "*"
tabulate = "*"
pybooru = "*"
pytz = "*"
psutil = "*"
fastapi = {extras = ["all"], version = "*"}

[requires]
python_version = "3.8"
