[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"
mypy = "*"

[packages]
"discord.py" = {extras = ["voice"], version = "*"}
discord-py = "*"
sqlalchemy = "*"
alembic = "*"
aiomysql = "*"
colorama = "*"
tabulate = "*"
pybooru = "*"
psutil = "*"
pytz = "*"
fastapi = {extras = ["all"], version = "*"}
pynacl = "*"
youtube-dl = "*"
pydub = "*"

[requires]
python_version = "3.8"
