.no-active::before {
  opacity: 0 !important;
}
.no-active:hover::before {
  opacity: 0.08 !important;
}

html {
  overflow-y: hidden;
}

html::-webkit-scrollbar{
  width: 12px;
  background: #555;
}

html::-webkit-scrollbar-thumb{
  background: #ddd;
  border-radius: 6px;
}

.v-card__text {
  font-size: 0.95rem !important;
  font-weight: 500 !important;
}

li {
  line-height: 1.6rem !important;
}
